<script>
jQuery(document).ready(function(){        
  $('.carousel').carousel({
  interval: 6000,
  pause: "false"
  });
  $(".carousel").on('slide.bs.carousel', function(evt) {
    $('.carousel-words').hide();
  });  
  
  $(".carousel").on('slid.bs.carousel', function(evt) {
    var index = $(this).find('.active').index();
    //alert($(this).find('.active').attr("words"));
    $('.carousel-words').text($(this).find('.active').attr("words"));
    $('.carousel-words').fadeIn( 4000); 
  })
  $('.carousel-words').hide();
  $('.carousel-words').text("The sky is no longer the limit");  
  $('.carousel-words').fadeIn( 4000);
});   
                       

</script>
<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <div class="carousel-words"></div>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" words="The sky is no longer the limit">
      <%=image_tag "background-1d.jpg"%>
    </div>
    <div class="item" words="Don't dream it.. live it!">
      <%=image_tag "background-2d.jpg"%>
    </div>
    <div class="item" words="Experience from the experienced">
      <%=image_tag "background-3d.jpg"%>
    </div>
    <div class="item" words="Knowledge truly is power">
      <%=image_tag "background-4d.jpg"%>
    </div>
    <div class="item" words="Sit back and relax ... we've got you">
      <%=image_tag "background-5d.jpg"%>
    </div>
  </div>


</div>
