<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <div class="carousel-words"></div>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" words="words 1">
      <%=image_tag "background-1b.jpg"%>
    </div>
    <div class="item" words="words 2">
      <%=image_tag "background-2b.jpg"%>
    </div>
    <div class="item" words="words 3">
      <%=image_tag "background-3b.jpg"%>
    </div>
    <div class="item" words="words 4">
      <%=image_tag "background-4b.jpg"%>
    </div>
    <div class="item" words="words 5">
      <%=image_tag "background-5b.jpg"%>
    </div>
    <div class="item" words="words 6">
      <%=image_tag "background-6b.jpg"%>
    </div>
  </div>


</div>
