First Name:
=@booking.first_name
%br
Last Name:
=@booking.last_name
%br
Email:
=@booking.email
%br
Number of Passengers:
=@booking.number_of_passangers
%br
Class:
=@booking.seat_class
%br
Type:
=@booking.travel_type
%br
Created:
=@booking.created_at
%br
- if @booking.travel_type == Booking::TRAVEL_TYPE_MULTI
  -@booking.multi_stopovers.each_with_index do |ms, index|
    ="Flight #{index+1} From: #{ms.from}, To: #{ms.to}, On: #{ms.date}"     
- else
  ="From: #{@booking.from}"
  %br
  ="To: #{@booking.to}"
  %br
  ="Date of Departure: #{@booking.date_of_departure}"
  -if !@booking.date_of_return.blank?
    %br
    ="Date of Return: #{@booking.date_of_return}"